@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    ---yellow:#ECAA62;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    box-shadow:0 .3rem 2rem rgba(0,0,0,.1);
    background-color: white;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.menubar {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    z-index:1000;
    height: fit-content;
    background-color: white;
}
#logo {
    width: 150px;
}
.navbar {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
.navbar nav {
    display: flex;
    align-items: center;
}
.navbar nav ul {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar nav ul li {
    list-style: none;
    padding: 8px;
}
.navbar nav ul li a {
    color: #ecaa62;
    text-decoration: none;
}
#hamburger {
    color: #ECAA62;
    font-size: 24px;
    display: none;
}
/* ---END OF MENUBAR--- */
/* ---START OF FIRST-CONTANT--- */
.first-cont-main{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
.first-container {
    width: 85%;
    display: flex;
    margin: auto;
}
.first-cont-content {
    width: 42%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.first-cont-content h1 {
    font-size: 60px;
}
.first-cont-content p {
    font-size: 20px;
}
.first-cont-img {
    width: 50%;
}
.first-cont-img img{
    width: 100%;
}
.first-cont-content h1, p{
    color: #333333;
    margin-bottom: 16px;
}
#getStartedButton {
    width: fit-content;
    background-color: white;
    border: 1rem solid var(---yellow);
    border-radius: 5rem;
    padding: .7rem 2rem;
    margin-top: 1rem;
    font-size: 20px;
}
#getStartedButton:hover {
    background-color: #ECAA62;
}
/* ---END OF FIRST-CONTAINER--- */
/* ---START OF SECOND-CONTAINER--- */
.second-cont {
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}
.second-cont-img{
    width: 45%;
    display: flex;
    align-items: center;
}
.second-cont-content {
    width: 50%;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-cont-content p {
    font-size: 20px;
}
.second-cont-img img {
    width: 100%;
    border-radius: 10px;
}
#learnMoreButton {
    width: fit-content;
    background-color: white;
    border: 1rem solid var(---yellow);
    border-radius: 5rem;
    padding: .7rem 2rem;
    margin-top: 1rem;
    font-size: 17px;
    font-size: 20px;
}
#learnMoreButton:hover {
    background-color: #ECAA62;
}
/* ---END OF SECOND-CONTAINER--- */
/* ---START OF THIRD-CONTAINER --- */
.ourmenu {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 40px auto 25px auto;
    text-align: center;
}
.ourmenu h1 {
    margin-bottom: 20px;
}
.ourmenu h1 span {
    color: #ECAA62;
}
#hr1 {
    border: none;
    border-top: 30px dotted lightgray;
    background-color: #fff;
    width: 100%;
    margin: 20px 0;
}
#hr2 {
    border: none;
    border-top: 30px dotted black;
    background-color: #fff;
    width: 100%;
    margin: 40px 0;
}
.ourmenu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.ourmenu ul li {
    width: fit-content;
    background-color: white;
    border: 1rem solid var(---yellow);
    border-radius: 5rem;
    padding: 10px 16px;
    margin-top: 1rem;
    font-size: 17px;
}
.ourmenu ul li:hover{
    background-color: #ECAA62;
    color: black;
}
.ourmenu ul a {
    text-decoration: none;
    color: black;
}
/* ---END OF THIRD-CONTAINER--- */
/* ---START OF FOURTH-CONTAINER (menu) --- */
.menu-grid {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.menu-grid-content {
    width: 45%;
}
.menu-grid-content img {
    width: 100%;
    border-radius: 10px;
}
/* ---END OF FOURTH-CONTAINER (menu) --- */
/* ---START OF FIFTH-CONTAINER (GALLERY) --- */
.gallery {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}
.gallery h1 {
    text-align: center;
    margin-bottom: 20px;
}
.gallery h1 span{
    color: #ECAA62;
}
.gallery-card {
    width: 60%;
    margin: 20px auto;
}
.gallery-card img{
    width: 100%;
    border-radius: 10px;
}
#likeButton {
    width: fit-content;
    background-color: white;
    border: 1rem solid var(---yellow);
    border-radius: 5rem;
    padding: .7rem 2rem;
    margin-top: 1rem;
}
#likeButton i {
    font-size: 18px;
}
#likeButton:hover {
    background-color: #ECAA62;
}
/* ---END OF FIFTH-CONTAINER (GALLERY) --- */
/* ---START OF SIXTH-CONTAINER (FORM/DELIVERY) --- */

.box{
    width: 50%;
    margin: 30px auto;

}
.box img{
    width: 100%;


}
.icons a{
    font-size:medium;
    color: #000000;
    padding: 4px;
}

 .box::before{
    content:'';
    position: absolute;
    top:100%; left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    transition: 2s linear;
    opacity: 0;

}
 .box::before{
    top: 0;
}

.order{
    background:url(/img/delivery.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heading {
    font-size: 40px;
    text-align: center;
    color: white;
}
.heading span{
    color: #ECAA62;
}

.order .row{
    display:flex;
   background: #fff;
   margin: 2rem auto;
   overflow: hidden;
   box-shadow: 0rem .5rem 1rem  rgba(0,0,0,.3); 
   border-radius: 1rem;
    width: 85%;
} 

.order .row .image{
    flex:1 1 40%;

}

.order .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;

}
.order .row form{
    flex:1 1 60%;
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#submitButton {
    width: fit-content;
    background-color: white;
    border: 1rem solid var(---yellow);
    border-radius: 5rem;
    padding: .7rem 2rem;
    margin-top: 1rem;
    font-size: 18px;
}
#submitButton:hover {
    background-color: #ECAA62;
}
.order .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background:#f0f0f0 ;
    width: 90%;
    border:none;
    border-radius: 5px;
}
.order .row form .box::placeholder{
    text-transform:capitalize;
}
.order .row form .address{
    resize:none;
    height:15rem;
}

/* -----END OF ORDER SECTION (form)----- */
/* ----- FOOTER SECTION ----- */
footer {
    
    background-color: #E19F85;
}
.footer-cont {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-grid h2 {
    margin-bottom: 19px;
}
.footer-grid p a {
    text-decoration: none;
    color: black;
}
/* ----- FOOTER SECTION ----- */
/* * ======================================================= */ 
/* media queries */
@media(max-width:991px){

}

@media(max-width:768px){
    .navbar nav {
        display: none;
    }
    #hamburger {
        display: contents;
    }
    .first-container {
        width: 100%;
    }
    .first-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .first-cont-img {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    .first-cont-img img{
        width: 100%;
    }
    /* --first-container-- */
    .first-cont-content {
        width: 65%;
    }
    .first-cont-content h1 {
        text-align: center;
        font-size: 35px;
        margin-top: 40px;
    }
    .first-cont-content p {
        text-align: center;
    }
    #getStartedButton {
        margin: 0 auto;
    }
    /* --second container-- */
    .second-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        height: 600px;
        overflow: hidden;
    }
    .second-cont-img{
        width: 100%;
    }
    .second-cont-img img {
        width: 100%;
        border-radius: 10px;
    }
    .second-cont-content {
        width: 100%;
        padding: 28px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 140px;
    }
    /* --second container-- */




    /* ----footer---- */
    .footer-cont {
        flex-direction: column;
    }
    .footer-grid h2 {
        margin: 30px 0 24px 0;
    }
    /* ----footer---- */

}



